.cell {
    height: 40px;
    border-width: 1px;
    border-color: black;
    width: 40px;
    border-style: solid;
    text-align: center;
}

.topcell {
    height: 40px;
    border: 1px;
    width: 40px;
    text-align: center;
}

.line {
    display: flex;
}

.table {
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0px 100px;
}

body {
    margin-top: 40px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
}

#buttons {
    width: 100px;
}

.button {
    margin: 20px;
}